@charset "UTF-8";
html{
  font-size: 20px;
  font-family: Kristen ITC;
}

*{
  box-sizing: border-box;
}


/*ボディ*/
body {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: 200vh;
}

/*ヘッダー*/
header {
  width: 100%;
  height: 130px;
  background: #f5f5f5;
}

.header-contents{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.header-content{
	height: 10px;
}

#today{
	padding-bottom: 100px;

}

.logo{
	padding-top: 25px;
}

.task-logo{
	padding-top: 10px;
}

.today-logo{
	margin-top: 50px;
}

.dropdown__lists {
    display: none;/*デフォルトでは非表示の状態にしておく*/
    width: 25%;
    position: absolute;
    top: 60px;
    left: 0;
    list-style: none;
}

.gnavi__lists{
	list-style: none;
	padding-left: 30px;
	margin-top: 15px;
}

.gnavi__list:hover .dropdown__lists {
    display: block;/*Gナビメニューにホバーしたら表示*/
}
.dropdown__list {
    background-color: rgba(0,17,46,0.7);
    height: 60px;
    transition: all .3s;
    position: relative;
}
.dropdown__list:not(:first-child)::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #3492d1;
    position: absolute;
    top: 0;
    left: 0;
}
.dropdown__list:hover {
    background-color: #7de3a1;
}
.dropdown__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.dropdown__list a::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
    position: absolute;
    right: 15px;
    top: calc(50% - 5px);
}

/*メイン*/
main {
  flex: 1;
}

/*フッター*/
footer {
  width: 100%;
  background: #f5f5f5;
  font-family: Calibri;
}

.copyright{
	text-align: center;
}