@charset "UTF-8";

/*グループ詳細について*/

/*フォームのボックス*/
	#form {
		width: 800px;
  		margin: 0px auto 80px auto;
 		padding: 80px auto 30px auto;
 		margin-top:50px;
  		border: 5px solid #F9E799;
  		background-color: #F9E799;
	}

	.boxradius {
		border-radius:50px;
		border:2px solid #F9E799;
	}

/*okボタン*/
	#okbutton {
		text-align: center;
		padding-bottom:20px;
	}

	input[type=submit]{
  		width: 7em;
 		height: 50px;
	}

	.okbutton {
		border-radius:10px;
		background-color: #001746;
    	border: 2px solid #001746;
    	font: 25px UD デジタル 教科書体 NK-B;
    	box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
		color: white;
    	display: inline-block;
    	font-weight: 700;
		position: relative;
    	text-align: center;
    	text-decoration: none;
    	transition: .3s;
	}

	.okbutton:hover {
		background-color:white;
		color:#001746;
	}
