@charset "UTF-8";
/*ログイン画面について*/

/* id="login_form"*/
	#login_form {

		padding:60px 100px 55px 95px;
		background-position:center;
		text-align:center;
	}

/*フォームのボックス*/
	#form {
		width: 600px;
  		margin: 50px auto;
 		padding: 3px;
  		border: 1px solid #EA7B6B;
  		background-color: #EA7B6B;
	}

	.boxradius {
		border-radius:50px;
		border:2px solid #EA7B6B;
	}

/* フォーム全体 */

	form {
  		padding: 6px;
  		color: white;
  		font:25px Kristen ITC;
	}

	.radius {
		border-radius:30px;
		border:2px solid #EA7B6B;
	}

	.radius:focus {
		outline: 0;
		border-color:#EA7B6B;
	}

	.label {
		text-align:center
	}

/*フォームのテキストボックスの大きさ*/
	input[name=user_ID] {
		width: 20em;
		height: 50px;
		font-size:20px;
		margin-bottom:20px;
	}

	input[name=pw] {
		width: 20em;
		height: 50px;
		font-size:20px;
		margin-bottom:30px;
	}

/*ログインボタン*/
	input[type=submit], input[type=reset] {
  		width: 7em;
 		height: 50px
	}

	.loginbutton {
		border-radius:50px;
		background-color: #001746;
    	border: 2px solid #001746;
    	font: 20px UD デジタル 教科書体 NK-B;
    	box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
		color: white;
    	display: inline-block;
    	font-weight: 700;
    	padding: auto;
		position: relative;
    	text-align: center;
    	text-decoration: none;
    	transition: .3s;
	}

	.loginbutton:hover {
		background-color:#F7D0C9;
		color:white;
	}

/* エラーメッセージ */
	#error_message {
 		color: #001746;
	}


/*登録完了画面*/

	#house {
  	text-align: center;
  	padding: 30px;
	}

	.housetext {
	font: 20px UD デジタル 教科書体 NK-B;
	color:#001746;
	}


