@charset "UTF-8";


/*タイトル部分*/
#updatemanual {
	font-size: 1.5rem;
	background-color: #8AAEC9;
	width: 280px;
	height: 50px;
	border-radius: 25px 25px 0 0;
	color: white;
	margin: auto;
	padding: 6px;
	text-align: center;
}

#manualdetailtitle {
		text-align: center;
		padding-top: 30px;
	}
