@charset "UTF-8";

/*タイトル部分*/
	#updatetask {
		font-size: 1.5rem;
		background-color: #8AAEC9;
		width: 210px;
		height: 50px;
		border-radius: 25px 25px 0 0;
		color: white;
		margin: auto;
		padding: 6px;
		text-align: center;
	}

	#updatetasktitle {
		text-align: center;
		padding-top: 30px;
	}

/*フォームのボックス*/
	#form {
		width: 1300px;
  		margin: 0px auto 80px auto;
 		padding: 80px auto 30px auto;
  		border: 5px solid #8AAEC9;
  		background-color: white;
	}

	.boxradius {
		border-radius:50px;
		border:2px solid #8AAEC9;
	}

/*テキストボックス全体*/

	.formbox {
		text-align:center;
		margin:auto 5px auto 5px;
	}


/*日付*/
	input[name=deadline] {
		width: 190px;
		height: 40px;
		border: none;
		outline: none;
		border-radius:10px;
		color:#001746;
		background-color:#C0F2D2;
		font:22px UD デジタル 教科書体 NK-B;
		text-align:center;
	}

	/*タスクタイトル*/
	input[name=task] {
		width: 70%;
		height: 60px;
		font:30px UD デジタル 教科書体 NK-B;
		color:#001746;
		margin:20px 0px 20px 0px;
		text-align: center;
		background-color:white;
		border: none;
		outline: none;

	}
.dayLine{
	border-bottom: 4px solid #7DE3A1;
	width: 90%;
	margin-left: 60px;

}


/*フォームのテキストボックスの大きさ*/
	textarea[name=contents] {
		width: 700px;
		height: 120px;
		font:22px UD デジタル 教科書体 NK-B;
		color:#001746;
		margin:15px 0px 20px 0px;
		border:3px solid #7DE3A1;
		outline: none;
		text-align: left;
		border-radius:20px;
		text-align: center;
	}

	input[name=to] {
		width: 13em;
		height: 50px;
		font:22px UD デジタル 教科書体 NK-B;
		color:#001746;
		border: none;
		outline: none;
		border-radius:10px;
		background-color:#8AAEC9;
		text-align:center;
	}

	input[name=register] {
		width: 13em;
		height: 50px;
		font:22px UD デジタル 教科書体 NK-B;
		color:#001746;
		border: none;
		outline: none;
		border-radius:10px;
		background-color:#8AAEC9;
		text-align:center;
	}
