@charset "UTF-8";

/*タイトル部分*/
	#updatetask {
		font-size: 1.5rem;
		background-color: #8AAEC9;
		width: 210px;
		height: 50px;
		border-radius: 25px 25px 0 0;
		color: white;
		margin: auto;
		padding: 6px;
		text-align: center;
	}

	#updatetasktitle {
		text-align: center;
		padding-top: 30px;
	}

/*フォームのボックス*/
	#form {
		width: 1300px;
  		margin: 0px auto 80px auto;
 		padding: 80px auto 30px auto;
  		border: 5px solid #8AAEC9;
  		background-color: white;
	}

	.boxradius {
		border-radius:50px;
		border:2px solid #8AAEC9;
	}

/*テキストボックス全体*/

	.formbox {
		text-align:center;
		margin:auto 5px auto 5px;
	}


/*日付*/
	input[name=deadline] {
		width: 190px;
		height: 40px;
		border: none;
		outline: none;
		border-radius:10px;
		color:#001746;
		background-color:#C0F2D2;
		font:22px UD デジタル 教科書体 NK-B;
		text-align:center;
	}


