@charset "UTF-8";

/*タイトル部分*/
	#updatetask {
		font-size: 1.5rem;
		background-color: #8AAEC9;
		width: 210px;
		height: 50px;
		border-radius: 25px 25px 0 0;
		color: white;
		margin: auto;
		padding: 6px;
		text-align: center;
		font-family: Kristen ITC;
	}

	#updatetasktitle {
		text-align: center;
		padding-top: 30px;
	}

/*フォームのボックス*/

.t-u-a{
	display: flex;
	justify-content: center;
}
	.task-update-all{
		border-radius:50px;
		border: 5px solid #8AAEC9;
		width: 80%;

	}

	.boxradius {
		border-radius:50px;
		/*border:2px solid #8AAEC9;*/
	}

/*テキストボックス全体*/

	.formbox {
		text-align:center;
		margin:auto 5px auto 5px;
	}


/*日付*/
	input[name=deadline] {
		width: 190px;
		height: 40px;
		border: none;
		outline: none;
		border-radius:10px;
		color:#001746;
		background-color:#C0F2D2;
		font:22px UD デジタル 教科書体 NK-B;
		text-align:center;
	}

	/*タスクタイトル*/
	input[name=task] {
		width: 70%;
		height: 60px;
		font:30px UD デジタル 教科書体 NK-B;
		color:#001746;
		margin:20px 0px 20px 0px;
		text-align: center;
		background-color:white;
		border: none;
		outline: none;

	}
.dayLine{
	border-bottom: 4px solid #7DE3A1;
	width: 90%;
	margin-left: 60px;

}

.check{
	height: 40px;
	width: 40px;
	position: absolute;
	margin-top: 35px;
	margin-bottom: 0;
	background: white;
}

/*フォームのテキストボックスの大きさ*/
	textarea[name=contents] {
		width: 650px;
		height: 145px;
		font:22px UD デジタル 教科書体 NK-B;
		color:#001746;
		margin:20px 50px 20px 60px;
		border:3px solid #7DE3A1;
		outline: none;
		text-align: left;
		border-radius:20px;
		text-align: center;
	}

	.tofrom{
		background-color:#8AAEC9;
		width: 650px;
		margin-left: 60px;
		border-radius:15px;
		color: white;
		font-size: 25px;

	}
	input[name=to] {
		width: 10em;
		height: 50px;
		font:22px UD デジタル 教科書体 NK-B;
		color:#001746;
		border: none;
		outline: none;
		border-radius:10px;
		background-color:#8AAEC9;
		text-align:center;
	}

	input[name=register] {
		width: 10em;
		height: 50px;
		font:22px UD デジタル 教科書体 NK-B;
		color:#001746;
		border: none;
		outline: none;
		border-radius:10px;
		background-color:#8AAEC9;
		text-align:center;
	}
	select[name=manual_id] {
		width: 320px;
		height: 60px;
		font-size:22px;
		color:#EA7B6B;
		border: none;
		outline: none;
		border-radius:15px;
		background-color:#F8D5D0;
		text-align:center;
		margin-top: 100px;
		margin-left: 70px;
	}


/*blockaとblockbを横に並べる*/
div.blocka{
	float: left;
	width:60%;
}

div.blockb{
	float: right;
	width:40%;

}

	.button1 {
		border-radius:20px;
		background-color: white;
    	border: 3px solid #001746;
    	font: 25px UD デジタル 教科書体 NK-B;
    	box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
		color: #001746;
    	display: inline-block;
    	font-weight: 700;
		position: relative;
    	text-align: center;
    	text-decoration: none;
    	transition: .3s;
    	margin-top: 30px;
    	margin-right: 20px;
    	margin-bottom: 20px;
    	width: 7em;
    	height: 50px;
	}

	.button1:hover {
		background-color: #001746;
		color:white;

	}


	.button {
		border-radius:20px;
		background-color: #001746;
    	border: 3px solid #001746;
    	font: 25px UD デジタル 教科書体 NK-B;
    	box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
		color: white;
    	display: inline-block;
    	font-weight: 700;
		position: relative;
    	text-align: center;
    	text-decoration: none;
    	transition: .3s;
    	margin-top: 30px;
    	margin-right: 20px;
    	margin-bottom: 20px;
    	width: 7em;
    	height: 50px;
	}

	.button:hover {
		background-color:white;
		color:#001746;
	}

.manual-link{
	position: absolute;
	margin-left: 794px;
	margin-top: 20px;
}

.manual-link-button{
	border: none;
	background-color:#EA7B6B;
	width: 320px;
	height: 60px;
	border-radius:15px;
	color: white;
	font: 25px UD デジタル 教科書体 NK-B;
}
